ignore/base_1.html
notes/__init__.py
notes/__init__.py
notes/__pycache__/__init__.cpython-311.pyc
notes/__pycache__/admin.cpython-311.pyc
notes/__pycache__/apps.cpython-311.pyc
notes/__pycache__/forms.cpython-311.pyc
notes/__pycache__/models.cpython-311.pyc
notes/__pycache__/urls.cpython-311.pyc
notes/__pycache__/views.cpython-311.pyc
notes/migrations/__init__.py
notes/migrations/__pycache__/__init__.cpython-311.pyc
notes/migrations/__pycache__/0001_initial.cpython-311.pyc
notes/migrations/__pycache__/0002_rename_notes_todolist.cpython-311.pyc
notes/migrations/__pycache__/0003_alter_todolist_is_completed.cpython-311.pyc
notes/migrations/__pycache__/0004_rename_todolist_notes_rename_task_notes_notes_obj.cpython-311.pyc
notes/migrations/__pycache__/0005_rename_notes_todolist_rename_notes_obj_todolist_task.cpython-311.pyc
notes/migrations/__pycache__/0006_alter_todolist_options_todolist_created_at_and_more.cpython-311.pyc
notes/templates/todolist_1.html
NotesManager/__init__.py
NotesManager/__pycache__/__init__.cpython-311.pyc
NotesManager/__pycache__/settings.cpython-311.pyc
NotesManager/__pycache__/urls.cpython-311.pyc
NotesManager/__pycache__/wsgi.cpython-311.pyc
templates/base_1.html
